@use './scss/abstracts' as *;

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;

	&__heading {
		font-family: 'Montserrat';
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.8rem;
        max-width: 748px;

		background-image: linear-gradient(to right, #fc4a1a, #f7b733);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include respond(tab-port) {
			font-size: 3.5rem;
		}

		@include respond(tab-land) {
			font-size: 4rem;
		}

		@include respond(desktop) {
			font-size: 5rem;
		}
	}

	&__input-container {
		width: 100%;
	}

	&__input-form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		& > * {
			margin-top: 1.5rem;

			@include respond(desktop) {
				margin-top: 2.5rem;
			}
		}
	}

	&__input {
		border: none;
		padding: 1rem 2rem;
		width: 80%;
		max-width: 80%;
		border-radius: 100px;
		outline: none;
		text-align: center;
		color: rgba(0, 0, 0, 0.795);
		font-size: 1.6rem;

		&:placeholder-shown {
			color: rgba(204, 204, 204, 0.1);
            letter-spacing: .2rem;
            font-size: 1rem;

            @include respond (tab-land) {
                font-size: 1.3rem;
            }
		}
	}

	&__icon-container {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 3.5rem;
		height: 3.5rem;
		background-color: #fff;
		padding: 1rem;
		border-radius: 50%;
		margin-left: 0.5rem;

		outline: none;
		border: none;
		cursor: pointer;
		transition: 0.3s ease;

		&:hover {
			background-color: #f7b733;
		}

		&:active {
			background-color: #fc4a1a;
		}
	}

	&__icon {
		height: 1.5rem;
	}
}
